{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sakshi-Aafiya-Hasti- Curriculum Vitae</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="The Curriculum Vitae of Sakshi-Aafiya-Hasti Bloggs." />
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
   <!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
    <div id="cv" class="instaFade">
        <div class="mainDetails">
            <div id="headshot" class="quickFade">
                <img src="{% static 'img/headshot.jpg' %}" alt="Alan Smith" />
            </div>



            <div id="name">

                <h1 class="quickFade delayTwo">{{ name }}</h1>

                <h2 class="quickFade delayThree">SOFTWARE DEVELOPER</h2>

            </div>



            <div id="contactDetails" class="quickFade delayFour">
                <ul>
                    <li>e: {{email}}</li>
                    <!-- <li>w: <a href="http://www.bloggs.com">www.bloggs.com</a></li>
 -->                    <li>m: {{mobile}}</li>
                </ul>
            </div>
            <div class="clear"></div>

        </div>


        <div id="mainArea" class="quickFade delayFive">
            <section>
                <article>
                    <div class="sectionTitle">
                        <h1>Personal Profile</h1>
                    </div>


                    <div class="sectionContent">
                        <p>Address: {{address}}
                        </p>
                    </div>

                </article>

                <div class="clear"></div>

            </section>


            <section>

                <div class="sectionTitle">

                    <h1>
                        Work Experience
                    </h1>

                </div>



                <div class="sectionContent">

                    <article>

                        <h2>{{experience_1_title}}</h2>
                        <p class="subDetails">{{experience_1_dur}}</p>
                        <p> {{experience_1_desc}}</p>
                    </article>



                    <article>

                        <h2>{{experience_2_title}}</h2>
                        <p class="subDetails">{{experience_2_dur}}</p>
                        <p> {{experience_2_desc}}</p>                   


                    </article>


                </div>

                <div class="clear"></div>

            </section>





            <section>

                <div class="sectionTitle">

                    <h1>Key Skills</h1>

                </div>



                <div class="sectionContent">

                    <ul class="keySkills">

                        <li>{{skills_1}}</li>
                        <li>{{skills_2}}</li>
                        <li>{{skills_3}}</li>
                        <li>{{skills_4}}</li>

                    </ul>

                </div>

                <div class="clear"></div>

            </section>





            <section>

                <div class="sectionTitle">

                    <h1>Education</h1>

                </div>



                <div class="sectionContent">

                    <article>

                        <h2>{{education_1}}</h2>

                        <p class="subDetails">{{education_1_dur}}</p>

                        <p>Score : {{education1_score}}</p>

                    </article>

                    <article>

                        <h2>{{education_2}}</h2>

                        <p class="subDetails">{{education_2_dur}}</p>

                        <p>Score : {{education2_score}}</p>

                    </article>

                </div>

                <div class="clear"></div>

            </section>



        </div>

    </div>

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3753241-1");

        pageTracker._initData();

        pageTracker._trackPageview();
    </script>

</body>

</html>
