{% load crispy_forms_tags %}{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sakshi-Aafiya-Hasti Resume Builder</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="The Curriculum Vitae of Sakshi-Aafiya-Hasti Bloggs." />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="padding:20px;">
    <!--<h1 class="mt-2" style="text-align:center;font-weight:bolder;color:steelblue;">Welcome to SAH Resume Builder!!!</h1>
    <hr class="mt-0 mb-4">-->
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container">
                <a href="/" class="navbar-brand">
                    <img src="{% static 'img/itsourcecodes.jpg' %}" alt="logo" class="d-none d-lg-block">
                    <span class="sr-only">Home</span>
                </a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler navbar-toggler-right">Menu<i class="fa fa-bars"></i>
                </button>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a href="/info" class="nav-link">Build Resume <span class="sr-only">(current)</span></a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="#" class="nav-link">About Us</a>
                        </li> -->
                        <li class="nav-item">
                            <a href="contact" class="nav-link">Contact</a>
                        </li>
                        {% if request.user.is_authenticated and request.user.role == 'employer' %}
                            <li class="nav-item dropdown">
                                <a id="clientZone" href="#" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false"
                                   class="nav-link dropdown-toggle has-img mb-3 mb-lg-0 mt-3 mt-lg-0">
                                    <div class="client-menu-image">
                                        <div class="inner">
                                            <img src="{% static 'img/itsourcecodes.jpg' %}"
                                                 alt="company image"
                                                 class="img-fluid">
                                        </div>
                                    </div>
                                    {% if request.user.role == 'employee' %}
                                        {{ request.user.first_name }} {{ request.user.last_name }}
                                    {% else %}
                                        {{ request.user.first_name }}
                                    {% endif %}
                                </a>
                                <div aria-labelledby="clientZone" class="dropdown-menu">
                                    <a href="{% url 'jobs:employer-dashboard' %}" class="dropdown-item">Dashboard</a>
                                    <a href="{% url 'jobs:employer-all-applicants' %}" class="dropdown-item">Applicants </a>
                                    <a href="{% url 'jobs:employer-jobs-create' %}" class="dropdown-item">Post a new
                                        job </a>
                                    <a href="{% url 'accounts:logout' %}" class="dropdown-item">Logout</a>
                                </div>
                            </li>
                        {% elif request.user.is_authenticated and request.user.role == 'employee' %}
                            <li class="nav-item dropdown">
                                <a id="clientZone" href="#" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false"
                                   class="nav-link dropdown-toggle has-img mb-3 mb-lg-0 mt-3 mt-lg-0">
                                    <div class="client-menu-image">
                                        <div class="inner">
                                            <img src="{% static 'img/itsourcecodes.jpg' %}"
                                                 alt="company image"
                                                 class="img-fluid">
                                        </div>
                                    </div>
                                    {% if request.user.role == 'employee' %}
                                        {{ request.user.first_name }} {{ request.user.last_name }}
                                    {% else %}
                                        {{ request.user.first_name }}
                                    {% endif %}
                                </a>
                                <div aria-labelledby="clientZone" class="dropdown-menu">
                                    <a href="{% url 'accounts:employer-profile-update' %}" class="dropdown-item">Edit Profile</a>
                                    <a href="{% url 'accounts:logout' %}" class="dropdown-item">Logout</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a id="pages" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                   class="nav-link dropdown-toggle"><i class="fa fa-signing"></i>Register
                                </a>
                                <div aria-labelledby="pages" class="dropdown-menu">
                                    <a href="{% url 'accounts:employee-register' %}" class="dropdown-item">Employee</a>
                                    <a href="{% url 'accounts:employer-register' %}" class="dropdown-item">Employers</a>
                                </div>
                            </li>
                            <li class="nav-item" style="color: #fff">
                                <a href="{% url 'accounts:login' %}" class="btn navbar-btn btn-outline-light mb-5 mb-lg-0">
                                    <i class="fa fa-sign-in"></i>Login
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <h1 class="mt-2" style="text-align:center;font-weight:bolder;color:steelblue;">Welcome to SAH Resume Builder!!!</h1>
    <hr class="mt-0 mb-4">
<!--     <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type='Submit'>Submit</button>
        
    </form> -->
    {% crispy form form.helper %}
    <footer class="footer">
        <div class="footer__block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-5">
                        <h4 class="h5">About Jobs</h4>
                        <p> A job, employment, work or occupation, is a person's role in society. More specifically, a job is an activity, often regular and often performed in exchange for payment. Many people have multiple jobs. A person can begin a job by becoming an employee, volunteering, starting a business, or becoming a parent. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-md-left text-center">
                        <p>Online Itsourcecode Portal Jobs System 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
