{% load static %}
<div class="container">
    <div style="text-align:center">
      <h2>CONTACT US</h2>
      <p>If you have any questions or comments or would like to get on our email list you can email us at jobportalsystem@codeastro.com</p>
    </div>
    <div class="row">
      <div class="column">
        <img src="/w3images/map.jpg" style="width:100%">
        <img src="{% static 'img/itsourcecodes.jpg' %}" alt="logo" class="d-none d-lg-block">
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
  